<style>
	.nav-item .nav-link.active {
		background-color: #007bff;
		color: white;
		font-weight: bold;
	}

	.nav-item.menu-items .nav-link.active {
		background-color: #007bff;
		color: white;
	}

	.nav-item .nav-link1.active {
		background-color: #007bff;
		color: white;
		font-weight: bold;
	}

	.nav-item.menu-items .nav-link1.active {
		background-color: #007bff;
		color: white;
	}
</style>

<nav class="sidebar" style="width: 15%">
	<p class="dashboard__logo"><span>Dental</span>Care</p>
	<ul class="nav">
		<li class="nav-item">
			<a href="~/Admin/Dashboard/GetAppointmentStatus">
				<span class="menu-icon"><i class="bx bxs-dashboard"></i></span>Dashboard
			</a>
		</li>

		<!-- =========== DROPDOWN MENU =========== -->
		<li class="nav-item menu-items">
			<a class="collapsed" data-bs-toggle="collapse" href="#manage-account" aria-expanded="false" aria-controls="manage-account">
				<span class="menu-icon"><i class="bx bxs-user"></i></span>
				<span class="menu-title">Quản lý tài khoản</span>
				<span class="menu-down" style="margin-left: auto">
					<i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
				</span>
			</a>
			<div class="collapse" id="manage-account">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a style="padding-left: 40px; font-size: 1.4rem" class="nav-link" href="~/Admin/AccountDentist/ListAccountDentist">
							<i class="fa-solid fa-stethoscope"></i> Tài khoản nha sĩ
						</a>
					</li>
					<li class="nav-item">
						<a style="padding-left: 40px; font-size: 1.4rem" class="nav-link" href="~/Admin/AccountPatient/ListAccountPatient">
							<i class="fa-solid fa-hospital-user"></i> Tài khoản bệnh nhân
						</a>
					</li>
					<li class="nav-item">
						<a style="padding-left: 40px; font-size: 1.4rem" class="nav-link" href="~/Admin/AccountManager/ListAccountManager">
							<i class="fa-solid fa-hospital"></i> Tài khoản của quản lý
						</a>
					</li>
					<li class="nav-item">
						<a style="padding-left: 40px; font-size: 1.4rem" class="nav-link" href="~/Admin/AccountLocked/ListLockedAccount">
							<i class="fa-solid fa-ban"></i> Tài khoản bị cấm
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-item menu-items">
			<a class="collapsed" data-bs-toggle="collapse" href="#manage-clinic" aria-expanded="false" aria-controls="manage-clinic">
				<span class="menu-icon"><i class="bx bx-list-ul"></i></span>
				<span class="menu-title">Quản lý phòng khám</span>
				<span class="menu-down" style="margin-left: auto">
					<i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
				</span>
			</a>
			<div class="collapse" id="manage-clinic">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a style="padding-left: 40px; font-size: 1.4rem" class="nav-link1" href="~/Admin/ManagerClinic/ListClinic">
							<i class="fa-solid fa-hospital"></i> Phòng khám hiện tại
						</a>
					</li>
					<li class="nav-item">
						<a style="padding-left: 40px; font-size: 1.4rem" class="nav-link1" href="~/Admin/ManagerClinic/ListClinicClosed">
							<i class="fa-solid fa-ban"></i> Phòng khám đã đóng cửa
						</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-item">
			<a href="~/Admin/ManagerSpecialty/ListSpecialty" class="Quan_ly_chuyen_khoa">
				<span class="menu-icon"><i class="bx bxs-bookmarks"></i></span>Quản lý chuyên khoa
			</a>
		</li>
		<li class="nav-item">
			<a href="~/Admin/Transaction/TransactionHistory">
				<span class="menu-icon"><i class="bx bx-history"></i></span>Xem
				lịch sử giao dịch
			</a>
		</li>
		<li class="nav-item">
			<a href="~/Admin/News/NewsPost">
				<span class="menu-icon"><i class='bx bxs-news'></i></span>
				Đăng bài viết
			</a>
		</li>
		<li class="nav-item">
			<a href="~/Admin/ManagerClinic/ApprovalRequest">
				<span class="menu-icon"><i class='bx bxs-user-check'></i></span>
				Duyệt đơn hợp tác
			</a>
		</li>
	</ul>
	<div class="copyright">©️ All rights reserved | Dental Care</div>
</nav>


<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		function setActiveLink() {
			const currentPath = window.location.pathname;
			const menuLinks = document.querySelectorAll('.nav-link');
			const menuLinkClinic = document.querySelectorAll('.nav-link1');

			//Đặt trạng thái hoạt động dựa trên link hiện tại
			menuLinks.forEach(link => {
				if (link.href.includes(currentPath)) {
					link.classList.add('active');
					const parentCollapse = link.closest('.collapse');
					if (parentCollapse) {
						parentCollapse.classList.add('show');
						const parentLink = parentCollapse.previousElementSibling;
						if (parentLink) {
							parentLink.classList.add('active');
						}
					}
				}
			});

			// Xóa tất cả active states trước đó
			menuLinks.forEach(link => {
				link.classList.remove('active');
				const parentCollapse = link.closest('.collapse');
				if (parentCollapse) {
					parentCollapse.previousElementSibling.classList.remove('active');
				}
			});


			menuLinkClinic.forEach(link => {
				if (link.href.includes(currentPath)) {
					link.classList.add('active');
					const parentCollapses = link.closest('.collapse');
					if (parentCollapses) {
						parentCollapses.classList.add('show');
						const parentLink = parentCollapses.previousElementSibling;
						if (parentLink) {
							parentLink.classList.add('active');
						}
					}
				}
			});

			menuLinkClinic.forEach(link => {
				link.classList.remove('active');
				const parentCollapses = link.closest('.collapse');
				if (parentCollapses) {
					parentCollapses.previousElementSibling.classList.remove('active');
				}
			});
		}

		setActiveLink();

		// const menuLinks = document.querySelectorAll('.nav-link');
		// menuLinks.forEach(link => {
		// 	link.addEventListener('click', function () {
		// 		setTimeout(() => {
		// 			setActiveLink();
		// 		}, 10);
		// 	});
		// });


		// const menuLinkClinic = document.querySelectorAll('.nav-link1');
		// menuLinkClinic.forEach(link => {
		// 	link.addEventListener('click', function () {
		// 		setTimeout(() => {
		// 			setActiveLink();
		// 		}, 50);
		// 	});
		// });

		// document.querySelectorAll('.nav-link, .nav-link1').forEach(link => {
		// 	link.addEventListener('click', function (e) {
		// 		setTimeout(() => {
		// 			setActiveLink();
		// 		}, 10);
		// 	});
		// });

	});

</script>