
@{
    ViewData["Title"] = "PaymentSuccess";
}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet" />
    
    <link rel="stylesheet" href="~/assets/css/invoice.css" />
    @* <link rel="stylesheet" href="~/assets/css/header.css" />
    <link rel="stylesheet" href="~/assets/css/footer.css" /> *@
</head>


<body>
<div class="medical__bill corner">
    <!-- HEADER -->
    <div class="medicall__bill__header">
        <h1 class="title text-center">PHIẾU KHÁM BỆNH</h1>
        <p class="clinic__name text-center">
            Nha khoa Thẩm Mỹ Quốc Tế New Gate
        </p>
        <p class="clinic__address text-center">
            218 Tân Hương, Tân Quý, Tân Phú, Thành phố Hồ Chí Minh
        </p>
        <h2 class="sub__title text-center">Mã phiếu</h2>
        <div class="barcode"></div>
        <div class="status text-center">Đặt khám thành công</div>
    </div>

    <!-- TIME -->
    <div class="medicall__bill__time corner">
        <div class="content">
            <div class="sub__title text-center">Giờ khám dự kiến</div>
            <div class="time text-center">08:30</div>
        </div>
        <ul>
            <li>
                <span>Mã phiếu:</span> <span><b>T240611NUBLY2</b></span>
            </li>
            <li>
                <span>Chuyên khoa:</span><span><b>Nha khoa</b></span>
            </li>
            <li>
                <span>Ngày khám:</span><span class="date__time"><b>dd/mm/yyyy</b></span>
            </li>
            <li>
                <span>Giờ khám dự kiến:</span><span class="date__time"><b>xx:xx</b></span>
            </li>
            <li>
                <span>Phí khám:</span><span><b>0 VND</b></span>
            </li>
        </ul>
    </div>

    <!-- PATIENT INFO -->
    <div class="medicall__bill__patient__info corner">
        <ul>
            <li>
                <span>Bệnh nhân:</span><span><b>AN PHÚC HOÀ</b></span>
            </li>
            <li>
                <span>Ngày sinh:</span><span><b>29/12/2004</b></span>
            </li>
            <li>
                <span>Mã bệnh nhân:</span><span><b>??????????</b></span>
            </li>
        </ul>
    </div>

    <!-- COPYRIGHT -->
    <div class="medicall__bill__copyright corner">
        <div class="note">
            <p class="attention">Lưu ý:</p>
            <div class="notification">
                Quý bệnh nhân vui lòng đến quầy tiếp nhận tại sảnh để được tiếp đón.
                <br />
                Quý bệnh nhân cần hỗ trợ, vui lòng liên hệ tổng đài
                <strong>CSKH 1900 2115</strong>
            </div>
        </div>
        <div class="copyright text-center">
            <div class="copyright__wrapper">
                Bản quyền thuộc về
                <img style="width: 50%"
                     src="https://firebasestorage.googleapis.com/v0/b/auth-demo-123e3.appspot.com/o/Dental%20Care%20Logo%2FDentalCare.svg?alt=media&token=b67255df-a0e9-4994-8a8e-e47ca5be0cf0"
                     alt="" />
            </div>
        </div>
        <div class="intro text-center">
            Đặt lịch khám tại Bệnh viện - Phòng khám hàng đầu Việt Nam
        </div>
    </div>
</div>
</body>
