@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Dental_Clinic_System.ViewModels.EventVM>
@{
    ViewData["Title"] = "Lịch Làm Việc";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/assets/css/sidebar.css" />
    <link rel="stylesheet" href="~/assets/css/headerAd.css" />
    <link rel="stylesheet" href="~/assets/css/contentDash.css" />
    <link rel="stylesheet" href="~/assets/css/header.css" />
    <link rel="stylesheet" href="~/assets/css/footer.css" />
    <link href='https://fullcalendar.io/releases/fullcalendar/4.0.0/core/main.css' rel='stylesheet' />
    <link href='https://fullcalendar.io/releases/fullcalendar/4.0.0/daygrid/main.css' rel='stylesheet' />
    <script src='https://fullcalendar.io/releases/fullcalendar/4.0.0/core/main.js'></script>
    <script src='https://fullcalendar.io/releases/fullcalendar/4.0.0/interaction/main.js'></script>
    <script src='https://fullcalendar.io/releases/fullcalendar/4.0.0/daygrid/main.js'></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.6.0/chroma.min.js"></script>
</head>

        <div class="work__schedule" style="padding: 40px; width: 100%; height: 50%; font-size: 17px; text-align:left;" id='calendar'></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="~/assets/js/fullcalendar.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        initializeCalendar(@Html.Raw(ViewBag.events));
    });
</script>


