
@{
    ViewData["Title"] = "DentistSidebar";
}

<nav class="sidebar" style="width: 15%">
    <p class="dashboard__logo"><span>Dental</span>Care</p>
    <ul class="nav">
        <li class="nav-item">
            <a class="active">
                <span class="menu-icon"><i class="bx bxs-dashboard"></i></span>Lịch làm việc
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="dentist" asp-action="showdentistdescription">
                @*dentist ID???*@
                <span class="menu-icon"><i class="bx bxs-user"></i></span>Thêm mô tả bản thân
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="dentist" asp-action="showpatientappointments">
                @*dentist ID???*@
                <span class="menu-icon"><i class="bx bx-list-ul"></i></span>Quản lý bệnh nhân
            </a>
        </li>
    </ul>
</nav>

