
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dental Care | login</title>

	<link rel="stylesheet" href="~/assets/css/footer.css" />

</head>


<footer class="footer">
	<div class="footer__navigation">
		<a href="/">
			<img src="~/assets/images/DentalCare.png" class="navbar__logo" alt="logo" />
		</a>
		<ul class="footer__navigation__list">
			<li>
				<a href="/#">Trang chủ</a>
			</li>
			<li>
				<a href="#!">Giới thiệu</a>
			</li>
			<li>
				<a href="#!">Chuyên khoa</a>
			</li>
			<li>
				<a href="#!">Nha Khoa</a>
			</li>
			<li>
				<a href="#!">Blogs</a>
			</li>
			<li>
				<a href="#!">Liên hệ</a>
			</li>
		</ul>
	</div>
	<div class="footer__separate"></div>
	<div class="footer__condition__social">
		<p class="footer__condition__social--copyright">® 2024 Dental Care</p>
		<div class="footer__condition__social--media">
			<a href="#!">
				<img src="~/assets/images/facebook.png" alt="facebook" />
			</a>
			<a href="#!">
				<img src="~/assets/images/instagram.png" alt="facebook" />
			</a>
			<a href="#!">
				<img src="~/assets/images/youtube.png" alt="facebook" />
			</a>
			<a href="#!">
				<img src="~/assets/images/linkedin.png" alt="facebook" />
			</a>
			<a href="#!">
				<img src="~/assets/images/X.png" alt="facebook" />
			</a>
		</div>
	</div>
</footer>
