@{
    var emailClaim = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Email)?.Value;
    var firstnameClaim = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Surname)?.Value;
    var lastnameClaim = User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.GivenName)?.Value;
    var fullnameClaim = lastnameClaim + " " + firstnameClaim;
}

<header class="header">
    <nav class="header__navbar">
        <a href="#!">
            <img src="~/assets/images/logo.png" class="navbar__logo" alt="logo" />
        </a>
        <ul class="navbar__list">
            <li>
                <a asp-controller="home" asp-action="index">Trang chủ</a>
            </li>
            <li>
                <a asp-controller="about" asp-action="index">Giới thiệu</a>
            </li>
            <li>
                <a asp-controller="clinic" asp-action="index">Nha khoa</a>
            </li>
            <li>
                <a asp-controller="specialty" asp-action="index">Chuyên khoa</a>
            </li>
            <li>
                <a href="#!">Blogs</a>
            </li>
            <li>
                <a asp-controller="contact" asp-action="index">Liên hệ</a>
            </li>
        </ul>

        <!-- ============== ACCESS PROFILE HERE ============== -->
        <div class="navbar__auth">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="dropdown">
                    <a class="btn navbar__auth__avatar"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="./assets/images/avatar.jpg" alt="" />
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="dropdownMenuLink">
                        <li>
                            <a class="dropdown-item" asp-controller="account" asp-action="profile">
                                <strong>@fullnameClaim</strong> <br />
                                @emailClaim
                            </a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" asp-controller="account" asp-action="logout">Logout</a></li>
                    </ul>
                </div>
            }
            else
            {
                <a asp-controller="account" asp-action="login" class="navbar__auth__login"> Đăng nhập </a>
                <a asp-controller="account" asp-action="register" class="navbar__auth__register"> Đăng ký </a>
            }
            @* <a href="/" class="navbar__auth__booking"> Đặt lịch khám </a> *@


        </div>
    </nav>
</header>
