<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="~/assets/images/dentalClinicLogoOfficial.png" />
	</head>
<body>
	@Html.Partial("_Header")
	<main>
		@RenderBody()
	</main>
	@Html.Partial("_Footer")
</body>
</html>