@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tin tức";
}
@using Dental_Clinic_System.Helper
@using System.Linq
@model IEnumerable<Dental_Clinic_System.ViewModels.NewsVM>

<head>
    <meta name="description" content="Tại đây bạn có thể xem tin tức bất kỳ mà bạn muốn">
    <link rel="stylesheet" href="~/assets/css/news.css" />
</head>

<main class="news__layout">
    <div class="news">
        <h1 class="news__title text-center fw-bold">Tin tức y khoa</h1>
        <div class="text-center">
            <img src="~/assets/images/separate.png" alt="" />
        </div>
        <!-- =========== BRIEF DESCRIPTION =========== -->
        <p class="news__desc text-center">
            Tổng hợp các bài viết cập nhật các tin tức cần thiết về nha khoa / nền
            tảng
        </p>

        <!-- =========== NEWS CONTAINER =========== -->
        <div class="newsPost__container">
            <div class="newPost__wrapper">
                <!-- =========== NEWS CONTAINER ITEM =========== -->
                @foreach (var news in Model.OrderByDescending(n => n.ID))
                {
                    <div class="newsItem__wrapper">
                        <div class="newsItem__content">
                            <!-- =========== INFO =========== -->
                            <div class="newsItem__info">
                                <a href="@Url.Action("NewsDetail", "News", new { newsID = news.ID })">
                                    <h2 class="newsItem__title">@news?.Title</h2>
                                </a>
                                <p class="newsItem__desc">
                                    @* @Html.Raw(HtmlHelpers.ExtractTextAndLimitCharacters(news?.Content, 200)) *@
                                    @news?.Content
                                </p>
                                <div class="newsItem__datetime">
                                    <span class="newsItem__datetime__style">
                                        <i class="fa-regular fa-calendar"></i><span class="text">@news?.CreatedDate</span>
                                    </span>
                                </div>
                            </div>

                            <!-- =========== THUMB =========== -->
                            <div class="newsItem__thumb">
                                <a href="@Url.Action("NewsDetail", "News", new { newsID = news.ID })" aria-label="@news?.Title">
                                    <img src="@news.ThumbNail"
                                         alt="@news?.Title" loading="lazy" />
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- ========== PAGINATION  ========== -->
            <ul class="pagination" id="pagination">
                <!--
                    <li class="page-item">
                        <a class="page-link" href="#" style="font-size: 2rem">Previous</a>
                    </li>
                -->
            </ul>
        </div>
    </div>
</main>
<script src="~/assets/js/pagination-news.js"></script>
