@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var newsItem = ViewBag.News as Dental_Clinic_System.Models.Data.News;
    ViewData["Title"] = newsItem?.Title;
}
<head>
    <link rel="stylesheet" href="~/assets/css/news.css" />
</head>

<main class="news__layout">
    <div class="newsDetail__container">
        @if (newsItem != null)
        {
            <h1>@newsItem.Title</h1>
            <div class="newsDetail__datetime">
                <i class="fa-regular fa-calendar"></i><span>@newsItem.CreatedDate</span>
            </div>
            @Html.Raw(newsItem.Content)
        }
        else
        {
            <h3>There is nothing here</h3>
        }
    </div>
</main>