@model Dental_Clinic_System.ViewModels.PatientRecordVM
@{
	ViewData["Title"] = "Tạo mới hồ sơ";
	var nullMessage = TempData["isNull"];
}

<head>
	<link rel="stylesheet" href="~/assets/css/patientrecord.css" />
</head>

<div class="pt__record add">
	<h1 class="pt__record__title text-center fw-bold">Tạo mới hồ sơ</h1>
	<div class="text-center">
		<img src="~/assets/images/separate.png" alt="" />
	</div>
	<div class="pt__record__add__wrapper">
		<div class="style__container add">
			<div class="style__container__add">
				<h2 class="record__add__title text-center">Cập nhật thông tin</h2>
				<div class="record__add__desc">
					Vui lòng cung cấp thông tin chính xác để được phục vụ tốt nhất.
					Trong trường hợp cung cấp sai thông tin bệnh nhân & điện thoại,
					việc xác nhận cuộc hẹn sẽ không hiệu lực trước khi đặt khám.
				</div>
				<div class="record__add__required">
					(*) Thông tin bắt buộc nhập
				</div>

				<form method="post" asp-controller="patientrecord" asp-action="createnewpatientrecord" class="record__add__form row">
					<div class="col-md-6">
						<label for="fullname">Họ và tên (có dấu)<sup>*</sup></label>
						<input asp-for="FullName" oninput="this.value = this.value.toUpperCase();" id="fullname" type="text" placeholder="VÍ DỤ: AN PHÚC HOÀ" />
						<span class="text-danger" style="font-size: 17px;" asp-validation-for="FullName"></span>
					</div>
					
					<div class="col-md-6">
						<label for="dateofbirth">Ngày sinh (tháng/ngày/năm) <sup>*</sup></label>
						<input asp-for="DateOfBirdth" id="dateofbirth" type="date" max="@DateOnly.FromDateTime(DateTime.Now).AddYears(-1).ToString("yyyy-MM-dd")" style="width: 100%" />
						<span class="text-danger" style="font-size: 17px;" asp-validation-for="DateOfBirdth"></span>
						
					</div>
					
					<div class="col-md-6">
						<label for="phonenumber">Số điện thoại <sup id="phoneSup">*</sup></label>
						<input asp-for="PhoneNumber" id="phonenumber" type="text" placeholder="Vui lòng nhập số điện thoại" />
						<span class="text-danger" style="font-size: 17px;" asp-validation-for="PhoneNumber"></span>
					</div>
					
					<div class="col-md-6">
						<label for="gender">Giới tính<sup>*</sup></label>
						<select asp-for="Gender" id="gender">
							<option value="" disabled selected>Chọn giới tính...</option>
							<option value="Nam">Nam</option>
							<option value="Nữ">Nữ</option>
						</select>
						<span class="text-danger" style="font-size: 17px;" asp-validation-for="Gender"></span>
					</div>
					
					<div class="col-md-6">
						<label for="job">Nghề nghiệp<sup id="jobSup">*</sup></label>
						<select asp-for="Job" id="job">
							<option value="" selected disabled>Chọn nghề nghiệp</option>
							<option value="Khác">Khác</option>
							<option value="Còn nhỏ">Còn nhỏ</option>
							<option value="Học sinh / Sinh viên">Học sinh / Sinh viên</option>
							<option value="Nội trợ">Nội trợ</option>
							<option value="Giáo viên">Giáo viên</option>
							<option value="Công nhân">Công nhân</option>
							<option value="Kỹ sư">Kỹ sư</option>
							<option value="Nhân viên văn phòng">Nhân viên văn phòng</option>
						</select>
						<span class="text-danger" style="font-size: 17px;" asp-validation-for="Job"></span>
					</div>
					
					<div class="col-md-6">
						<label for="identityNumber">Số CMND/CCCD</label>
						<input asp-for="IdentifyNumber" id="identityNumber" type="text" placeholder="Nhâp số CMND/CCCD" />
						<span class="text-danger" style="font-size: 17px;" asp-validation-for="IdentifyNumber"></span>
					</div>
					
					<div class="col-md-6">
						<label for="email">Địa chỉ Email</label>
						<input asp-for="Email" id="email" type="email" placeholder="Nhập địa chỉ email để nhận phiếu khám" />
						<span class="text-danger" style="font-size: 17px;" asp-validation-for="Email"></span>
					</div>
					
					<div class="col-md-6">
						<label for="province">Tỉnh / Thành <sup>*</sup></label>
						<select id="tinh" title="Chọn Tỉnh Thành" asp-for="Province">
							<option asp-for="Province" value="0" selected disabled>Tỉnh Thành</option>
						</select>
						<span class="text-danger" style="font-size: 17px;" asp-validation-for="Province"></span>
					</div>
					
					<div class="col-md-6">
						<label for="district">Quận / Huyện<sup>*</sup></label>
						<select id="quan" title="Chọn Quận huyện" asp-for="District">
							<option asp-for="District" value="0" selected disabled>Quận huyện</option>
						</select>
						<span class="text-danger" style="font-size: 17px;" asp-validation-for="District"></span>
					</div>
					
					<div class="col-md-6">
						<label for="ward">Phường / Xã<sup>*</sup></label>
						<select id="phuong" title="Chọn Phường Xã" asp-for="Ward">
							<option asp-for="Ward" value="0" selected disabled>Phường xã</option>
						</select>
						<span class="text-danger" style="font-size: 17px;" asp-validation-for="Ward"></span>
					</div>
					
					<div class="col-md-12">
						<label for="address">Địa chỉ <sup>*</sup></label>
						<input asp-for="Address" id="address" type="text" placeholder="Nhập địa chỉ" />
						<span class="text-danger" style="font-size: 17px;" asp-validation-for="Address"></span>
					</div>
					


					@*=================================================== PARENT INFORMATION =========================================================*@
					<div id="age__check" class="row">
						<div class="record__add__form__divider col-md-12"></div>
						<h2 class="family__member__add__title col-md-12 text-center">
							Nhập thông tin nhân thân
						</h2>
						<div class="col-md-6">
							<label for="fmfullname">HỌ VÀ TÊN NGƯỜI THÂN (CÓ DẤU)<sup>*</sup></label><input name="fmfullname"
																					   asp-for="FMFullName"
																					   oninput="this.value = this.value.toUpperCase();"
																					   id="fmfullname"
																					   type="text"
																					   placeholder="Nhập họ tên người thân" />
							<span class="text-danger" style="font-size: 17px;" asp-validation-for="FMFullName"></span>
						</div>

						<div class="col-md-6">
							<label for="relationship">Quan hệ với bệnh nhân<sup>*</sup></label>
							<select asp-for="FMRelationship" id="relationship">
								<option asp-for="FMRelationship" value="" disabled selected>Chọn quan hệ</option>
								<option asp-for="FMRelationship" value="Cha">Cha</option>
								<option asp-for="FMRelationship" value="Mẹ">Mẹ</option>
								<option asp-for="FMRelationship" value="Ông">Ông</option>
								<option asp-for="FMRelationship" value="Bà">Bà</option>
								<option asp-for="FMRelationship" value="Anh">Anh</option>
								<option asp-for="FMRelationship" value="Chị">Chị</option>
							</select>
							<span class="text-danger" style="font-size: 17px;" asp-validation-for="FMRelationship"></span>
						</div>

						<div class="col-md-6">
							<label for="fmphonenumber">Số điện thoại<sup>*</sup></label><input name="fmphonenumber"
																		  asp-for="FMPhoneNumber"
																		  id="fmphonenumber"
																		  type="text"
																		  placeholder="Vui lòng nhập số điện thoại" />
							<span class="text-danger" style="font-size: 17px;" asp-validation-for="FMPhoneNumber"></span>
						</div>
						<div class="col-md-6">
							<label for="fmemail"> Địa chỉ Email</label><input name="fmemail"
																						  id="fmemail"
																						  type="text"
																						  asp-for="FMEmail"
																						  placeholder="Nhập địa chỉ email để nhận phiếu khám" />
							<span class="text-danger" style="font-size: 17px;" asp-validation-for="FMEmail"></span>
						</div>
					</div>

					<div class="btn-wrapper add__record">
						<button type="submit" class="add-record-btn">
							Tạo mới
						</button>
					</div>
					@* <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"> *@
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	document
		.getElementById("dateofbirth")
		.addEventListener("change", function () {
			const dob = new Date(this.value);
			const today = new Date();
			const age = today.getFullYear() - dob.getFullYear();
			const ageCheck = document.getElementById("age__check");
			const phoneSup = document.getElementById("phoneSup");

			if (age < 14) {
				ageCheck.style.display = "inherit";
				phoneSup.style.display = "none";
			} else {
				ageCheck.style.display = "none";
				phoneSup.style.display = "inline";
			}
		});

	document
		.querySelector(".reset-btn")
		.addEventListener("click", function () {
			document.getElementById("age__check").style.display = "none";
			document.getElementById("phoneSup").style.display = "inline";
		});
</script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const dateOfBirthInput = document.getElementById("dateofbirth");
		const ageCheckDiv = document.getElementById("age__check");
		const phoneNumberInput = document.getElementById("phonenumber");
		const identityNumberInput = document.getElementById("identityNumber");
		const jobSelect = document.getElementById("job");

		function calculateAge(dateOfBirth) {
			const birthDate = new Date(dateOfBirth);
			const today = new Date();
			let age = today.getFullYear() - birthDate.getFullYear();
			const monthDifference = today.getMonth() - birthDate.getMonth();
			if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
				age--;
			}
			return age;
		}

		function toggleFamilyMemberInfo() {
			const age = calculateAge(dateOfBirthInput.value);
			if (age < 14) {
				ageCheckDiv.style.display = "inherit";
				phoneNumberInput.disabled = true;
				identityNumberInput.disabled = true;
				jobSelect.disabled = true;
				jobSelect.innerHTML = '<option value="Còn nhỏ">Còn nhỏ</option>';
			} else {
				ageCheckDiv.style.display = "none";
				phoneNumberInput.disabled = false;
				identityNumberInput.disabled = false;
				jobSelect.disabled = false;
				jobSelect.innerHTML = `
						<option value="" disabled>Chọn nghề nghiệp</option>
							<option value="Khác">Khác</option>
								<option value="Còn nhỏ">Còn nhỏ</option>
								<option value="Học sinh / Sinh viên">Học sinh / Sinh viên</option>
								<option value="Nội trợ">Nội trợ</option>
								<option value="Giáo viên">Giáo viên</option>
								<option value="Công nhân">Công nhân</option>
								<option value="Kỹ sư">Kỹ sư</option>
								<option value="Nhân viên văn phòng">Nhân viên văn phòng</option>
					`;
			}
		}

		dateOfBirthInput.addEventListener("change", toggleFamilyMemberInfo);

		// Initialize the display based on current date of birth
		if (dateOfBirthInput.value) {
			toggleFamilyMemberInfo();
		}
	});
</script>

<script src="https://esgoo.net/scripts/jquery.js"></script>
<script src="~/assets/js/localAPI.js"></script>

