@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Hướng dẫn đặt khám";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/assets/css/header.css" />
    <link rel="stylesheet" href="~/assets/css/footer.css" />
    <link rel="stylesheet" href="~/assets/css/support.css" />
</head>




<main>
    <div class="booking__guide">
        <h1 class="title">Hướng dẫn đặt khám</h1>
        <p class="desc">
            Trải nghiệm dịch vụ chăm sóc sức khỏe tối ưu và đặt lịch
            khám một cách dễ dàng, nhanh chóng với DentalCare
        </p>
        <hr style="border-top: 2px solid" />
        <div class="booking__guide__container">
            <div class="booking__guide__container__style">
                <h3>CHỌN THÔNG TIN ĐẶT KHÁM</h3>
                <ul>
                    <li>Tạo hoặc đăng nhập tài khoản trên website</li>
                    <li>
                        Chọn Đặt khám tại cơ sở hoặc Đặt khám theo
                        chuyên khoa
                    </li>
                    <li>Chọn cơ sở khám bệnh</li>
                    <li>
                        Chọn thông tin khám: Chuyên khoa, bác sĩ, ngày
                        khám, giờ khám
                    </li>
                    <li>
                        Nhập thông tin bệnh nhân: Tạo mới hồ sơ mới hoặc
                        chọn hồ sơ sẵn có
                    </li>
                </ul>
                <h3>
                    CHỌN/ TẠO MỚI HỒ SƠ BỆNH NHÂN (Bạn được phép tạo tối
                    đa 10 hồ sơ)
                </h3>
                <ul>
                    <li>
                        Khi tạo mới hồ sơ bệnh nhân, vui lòng nhập đầy
                        đủ các thông tin cần thiết: Họ và tên; Ngày
                        sinh; Giới tính; CMND; Nghề nghiệp; Số điện
                        thoại; Email; Địa chỉ
                    </li>
                    <li>
                        Nếu các bậc phụ huynh đăng ký hồ sơ cho con em
                        mình (dưới 14 tuổi), vui lòng nhập đầy đủ thông
                        tin nhân thân
                    </li>
                </ul>
                <h3>THANH TOÁN PHÍ KHÁM</h3>
                <ul>
                    <li>
                        Chọn phương thức thanh toán: Thanh toán bằng ví
                        MOMO, thanh toán bằng thẻ VNPAY.
                    </li>
                    <li>
                        Kiểm tra thông tin thanh toán (phí khám bệnh,
                        phí tiện ích và tổng tiền) và xác nhận thanh
                        toán.
                    </li>
                    <li>
                        Thực hiện thanh toán trên Ví điện tử hoặc Ứng
                        dụng Ngân hàng hoặc Cổng thanh toán.
                    </li>
                </ul>
                <h3>NHẬN PHIẾU KHÁM ĐIỆN TỬ</h3>
                <ul>
                    <li>
                        Sau khi thanh toán thành công, bạn sẽ nhận được
                        ngay phiếu khám bệnh điện tử trên ứng dụng (và
                        qua email).
                    </li>
                </ul>
                <h3>Khám trực tiếp</h3>
                <ul>
                    <li>
                        Đến ngày khám, người bệnh vui lòng đến trực tiếp
                        phòng khám hoặc quầy tiếp nhận theo như hướng
                        dẫn trên phiếu khám.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/53f42380b0.js"
        crossorigin="anonymous"></script>

