@model Dental_Clinic_System.Areas.Manager.ViewModels.ScheduleVM
@{
	ViewData["Title"] = "Lịch trình";
	Layout = "_LayoutManager";
}
@section Styles {
	<style>
		.form-container {
			display: flex;
			gap: 5px; /* Khoảng cách giữa các form */
		}

		.sidebar .nav-item a.Lich_trinh {
			color: #fff;
			background: #4880ff;
		}

		.manager__management__header {
			justify-content: space-around;
		}

		.sub-title {
			color: seagreen;
			font-size: 3rem;
		}
		.manager__management__add__schedule .input-text, .manager__management__add__schedule select {
			width: 140px;
			font-size: 2rem;
			margin-bottom: 20px;
			margin-left: 20px;
			border-radius: 5px;
			border: 1px solid #ccc;
			padding: 0 10px;
		}
		#checkboxContainer {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 0px;
			align-items: start;
		}

			#checkboxContainer label {
				display: flex;
				align-items: center;
				gap: 3px;
				font-size: 2rem;
			}

		.manager__management__add__schedule {
			--mdb-modal-box-shadow: 0 6px 45px -9px rgba(var(--mdb-box-shadow-color-rgb), 0.21), 0 30px 60px -6px rgba(var(--mdb-box-shadow-color-rgb), 0.12);
			border: 0;
			box-shadow: var(--mdb-modal-box-shadow);
			padding: 24px 48px !important; /* Reduced padding for top/bottom and left/right */
			border-radius: 10px; /* Adjust this value to change the roundness of the corners */
		}


		.mbsc-ios.mbsc-calendar-week-day {
			font-size: 1em;
			color: brown;
		}

		.mbsc-ios.mbsc-calendar-day {
			font-size: 0.9em;
		}

		.mbsc-calendar-cell-inner {
			display: inline-block;
			padding: 0 .25em;
			vertical-align: middle;
			align-content: center;
			/* margin-top: -11px; */
		}
		.week-button, .week-buttonTitile {
			margin-top: 5px;
			padding: 5px 10px;
			background-color: #007bff;
			color: #fff;
			border: none;
			border-radius: 4px;
			cursor: pointer;


		}

			.week-button:hover, .week-buttonTitile:hover {
				background-color: #0056b3;
				margin-left: 0;
				margin-top: 5px;
			}

		.mbsc-calendar-day {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 50px; // Adjust as necessary
		}  
	</style>

}


<form asp-action="Create" method="post" class="manager__management__add__schedule row">
	<div class="manager__management__header">
		<div class="title">Thêm mới lịch khám</div>
	</div>
	<!-- ========== LƯU Ý ========== -->
	<div class="col-md-12">
		<label class="sub-title">Lưu ý:</label>
		<h3 style="padding-left: 45px; color: red;">
			- Một hoặc nhiều lịch khám được tạo dựa trên 3 yếu tố bạn chọn
		</h3>
		<h3 style="padding-left: 45px; color: red;">
			- Một số trường hợp bạn KHÔNG THẤY lịch khám mới: 
		</h3>
		<h3 style="padding-left: 45px; color: red;">
			&nbsp;&nbsp;&nbsp;&nbsp; 1. ĐÃ TỒN TẠI lịch khám trước đó trên khung giờ bạn chọn -> KHÔNG TẠO LỊCH MỚI
		</h3>
		<h3 style="padding-left: 45px; color: red;">
			&nbsp;&nbsp;&nbsp;&nbsp; 2. ĐÃ ĐẶT LỊCH tái khám hoặc điều trị trên khung giờ bạn chọn -> KHÔNG TẠO LỊCH MỚI
		</h3>
	</div>
	<!-- ========== CHỌN NHA SĨ ========== -->
	<div class="col-md-12">
		<label class="sub-title">Chọn nha sĩ:</label>
		@{
			var dentistList = ((SelectList)ViewBag.DentistID).ToList();
		}
		<div class="row">
			@for (int i = 0; i < dentistList.Count; i += 3)
			{
				<div class="col-md-4">
					@for (int j = i; j < i + 3 && j < dentistList.Count; j++)
					{
						
						var dentist = dentistList[j];
						var isChecked = Model.DentistIDs != null && Model.DentistIDs.Contains(int.Parse(dentist.Value));
						<div class="form-check">
							<input class="form-check-input" type="checkbox" name="DentistIDs" value="@dentist.Value" id="dentist_@dentist.Value" @(isChecked ? "checked" : "")>
							<label class="form-check-label" for="dentist_@dentist.Value">
								@dentist.Text
							</label>
						</div>
					}
				</div>
			}
		</div>

	</div>
	<div style="height:15px"></div>

	<!-- ========== TEST MOBISCROLL SCHEDULE - CHỌN NGÀY ========== -->
	<div class="col-md-12">
		<label class="sub-title">Chọn ngày làm việc:</label>
		<div class="mbsc-grid">
			<div class="mbsc-col-sm-12 mbsc-col-md-12">
				<div class="mbsc-form-group">
					<div id="calendar-container">
						<div id="demo-counter">
							<!-- Mobiscroll calendar will render here -->
						</div>
					</div>
					
					<input type="hidden" asp-for="Dates" />
				</div>
			</div>
		</div>
	</div>
	
	<div style="height:15px"></div>
	<!-- ========== CHỌN KHUNG GIỜ ========== -->
	<input type="hidden" asp-for="TimeSlots" value="@Json.Serialize(Model.TimeSlots)" />
	<div class="col-md-12">
		<label for="timeInterval" class="sub-title">Chọn khoảng thời gian:</label>
		<select id="timeInterval" style="visibility:hidden">
			<option value="" disabled selected>
				
			</option>
			<option value="30" selected>30 Minutes</option>
			<option value="60">1 Hour</option>
		</select>
		
		<div id="checkboxContainer"></div>  @* List<int> TimeSlots đc lưu trong checkbox.name=TimeSlots *@
	</div>
	<div class="col-md-12 text-end">
		<button type="submit" class="btn">Tạo mới</button>
		@* <button type="reset" class="btn">Đặt lại</button> *@
	</div>
</form>
<br />

@section Scripts {
	<script src="~/assets/js/timeinterval2.js"></script>
	<script src="~/assets/js/mobiscroll.javascript.min.js"></script>
	<!-- ========== MOBISCROLL SCHEDULE ========== -->
	<script src="~/assets/js/mobiscroll-calendar3.js"></script>
}


