@model Dental_Clinic_System.Models.Data.Schedule
@* @model Dental_Clinic_System.Areas.Manager.ViewModels.ScheduleVM *@
@{
	ViewData["Title"] = "Create";
	Layout = "_LayoutManager";
}
@section Styles {
	<style>
		.form-container {
			display: flex;
			gap: 5px; /* Khoảng cách giữa các form */
		}

		.sidebar .nav-item a.Lich_lam_viec {
			color: #fff;
			background: #4880ff;
		}

		a.button-link {
			display: inline-block;
			padding: 5px 10px;
			background-color: transparent;
			border: none;
			cursor: pointer;
			text-decoration: none;
			color: inherit;
			border-radius: 6px;
		}

		.manager__management table a.button-link i {
			vertical-align: middle;
		}

		.manager__management table a.button-link:first-child,
		.manager__management .submit-btn {
			background: #4880ff;
			color: white;
		}

			.manager__management table a.button-link:first-child:hover,
			.manager__management .submit-btn:hover {
				background: #3b6cd9;
			}

		.manager__management table a.button-link:last-child,
		.manager__management .close-btn {
			margin-left: 5px;
			background: rgb(255, 66, 66);
			color: white;
		}

			.manager__management table a.button-link:last-child:hover,
			.manager__management .close-btn:hover {
				background: #f81f1f;
			}
	</style>
}

<div class="manager__management__header">
	<div class="title">Thêm mới lịch khám</div>
</div>
<form asp-action="Create" method="post" class="manager__management__add__schedule row">
	<div class="col-md-6">
		<label for="dentist" class="sub-title">Nha sĩ</label>
		<select name="dentist" id="dentist">
			<option value="hoa">An Phuc Hoa</option>
			<option value="tu">Do Anh Tu</option>
		</select>
	</div>
	<div class="col-md-6">
		<label for="status" class="sub-title">Trạng thái làm việc</label><select class="bg-body-secondary"
																			   name="status"
																			   id="status"
																			   disabled>
			<option value="working" selected>Đang làm việc</option>
			<option value="done">Đã xong</option>
		</select>
	</div>
	<div class="col-md-12">
		<!-- ========== TEST MOBISCROLL SCHEDULE - CHỌN NGÀY ========== -->
		<div class="mbsc-grid">
			<div class="mbsc-col-sm-12 mbsc-col-md-12">
				<div class="mbsc-form-group">
					<div class="mbsc-form-group-title text-center"
						 style="font-size: 3rem">
						Chọn ngày khám
					</div>
					<div id="demo-counter"></div>
					<input type="hidden" id="selectedDatesCounter" name="selectedDates" />
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<!-- ========== CHỌN KHUNG GIỜ ========== -->
		<label for="timeInterval" class="sub-title">Chọn khoảng thời gian:</label>
		<select id="timeInterval">
			<option value="" disabled selected>
				Chọn khoảng thời gian
			</option>
			<option value="30">30 Minutes</option>
			<option value="60">1 Hour</option>
		</select>
		<div id="checkboxContainer"></div>
	</div>
	<div class="col-md-12 text-end">
		<button type="submit" class="btn">Lưu</button>
		<button type="reset" class="btn">Đặt lại</button>
	</div>
</form>
<button type="button" class="btn" onclick="checkHiddenInput()">Kiểm tra giá trị</button>

<hr />
<h1>Create</h1>

<h4>Schedule</h4>
<hr />
@* <div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="DentistID" class="control-label"></label>
				<select asp-for="DentistID" class="form-control" asp-items="ViewBag.DentistID"></select>
			</div>
			<div class="form-group">
				<label asp-for="TimeSlotID" class="control-label"></label>
				<select asp-for="TimeSlotID" class="form-control" asp-items="ViewBag.TimeSlotID"></select>
			</div>
			<div class="form-group">
				<label asp-for="Date" class="control-label"></label>
				<input asp-for="Date" class="form-control" />
				<span asp-validation-for="Date" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ScheduleStatus" class="control-label"></label>
				<input asp-for="ScheduleStatus" class="form-control" />
				<span asp-validation-for="ScheduleStatus" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div> *@

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	<script>
		function checkHiddenInput() {
			var hiddenInput = document.getElementById('selectedDatesCounter');
			if (hiddenInput) {
				console.log("Hidden input value: " + hiddenInput.value);
			} else {
				console.error("Hidden input element not found");
			}
		}
		
	</script>



	<script src="~/assets/js/timeinterval.js"></script>
	<script src="~/assets/js/mobiscroll.javascript.min.js"></script>
	<!-- ========== MOBISCROLL SCHEDULE ========== -->
	<script src="~/assets/js/mobiscroll-calendar2.js"></script>
}