@model Dental_Clinic_System.ViewModels.ForgotPasswordVM

@{
    ViewData["Title"] = "Quên mật khẩu";
}

<head>
    <link rel="stylesheet" href="~/assets/css/authentication.css" />
    <link rel="stylesheet" href="~/assets/css/clinic.css" />
</head>

<main class="forgot__style">
    <div class="forgot__pass">
        <div class="forgot__container row">
            <div class="col-7 forgot__container__form">
                @if (TempData["ForgotPasswordMessage"] != null)
                {
                    <div class="alert alert-info">
                        @TempData["ForgotPasswordMessage"]
                    </div>
                }
                else
                {
                    <form method="POST" asp-action="forgotpassword" class="forgot__form">
                        <div class="forgot__form__title">Quên mật khẩu</div>
                        <div class="forgot__form__input">
                            <label asp-for="@Model.Email" for="email" class="email">Email</label>
                            <input type="email"
                                   id="email"
                                   asp-for="@Model.Email"
                                   placeholder="Nhập email để lấy lại mật khẩu" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="forgot__form__submit">
                            <input type="submit" value="Đặt lại mật khẩu" />
                        </div>

                        <div class="btn-wrapper">
                            <a asp-controller="account" asp-action="login">
                                <button type="button" class="back-btn">
                                    Quay lại <i class="fa-solid fa-arrow-rotate-left"></i>
                                </button>
                            </a>
                        </div>
                    </form>
                }
            </div>
            <div class="col-5 forgot__container__image">
                <div class="forgot__image">
                    <div class="forgot__image__quote">
                        Đừng lo lắng, chúng tôi sẽ giúp bạn lấy lại mật khẩu.
                    </div>
                    <div class="forgot__image__img">
                        <img src="~/assets/images/forgot.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

