@model Dental_Clinic_System.ViewModels.ForgotPasswordVM

@{
    ViewData["Title"] = "ForgotPassword";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dental Care | login</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    @* <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap"
          rel="stylesheet" /> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/assets/css/header.css" />
    <link rel="stylesheet" href="~/assets/css/footer.css" />
    <link rel="stylesheet" href="~/assets/css/authentication.css" />
    <link rel="stylesheet" href="~/assets/css/clinic.css" />
</head>

<main class="forgot__style">
    <div class="forgot__pass">
        <div class="forgot__container row">
            <div class="col-7 forgot__container__form">
                @if (TempData["ForgotPasswordMessage"] != null)
                {
                    <div class="alert alert-info">
                        @TempData["ForgotPasswordMessage"]
                    </div>
                }
                else
                {
                    <form method="POST" asp-action="forgotpassword" class="forgot__form">
                        <div class="forgot__form__title">Quên mật khẩu</div>
                        <div class="forgot__form__input">
                            <label asp-for="@Model.Email" for="email" class="email">Email</label>
                            <input type="email"
                                   id="email"
                                   asp-for="@Model.Email"
                                   placeholder="Nhập email để lấy lại mật khẩu" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="forgot__form__submit">
                            <input type="submit" value="Đặt lại mật khẩu" />
                        </div>

                        <div class="btn-wrapper">
                            <a asp-controller="account" asp-action="login">
                                <button type="button" class="back-btn">
                                    Quay lại <i class="fa-solid fa-arrow-rotate-left"></i>
                                </button>
                            </a>
                        </div>
                    </form>
                }
            </div>
            <div class="col-5 forgot__container__image">
                <div class="forgot__image">
                    <div class="forgot__image__quote">
                        Đừng lo lắng, chúng tôi sẽ giúp bạn lấy lại mật khẩu.
                    </div>
                    <div class="forgot__image__img">
                        <img src="~/assets/images/forgot.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/53f42380b0.js"
        crossorigin="anonymous"></script>

