.about__title {
	font-size: 6.2rem;
	margin-top: 80px;
}

.about__info {
	position: relative;
	width: 1280px;
	margin: 0 auto;
	margin-top: 70px;
}

.about__info .banner {
	position: absolute;
	right: 0;
	top: 20px;
}

.about__info__normal h2 {
	font-size: 4.2rem;
	font-style: normal;
	font-weight: bold;
	line-height: 125%; /* 52.5px */
	text-transform: capitalize;
	margin-bottom: 0;
}

.about__info__normal img {
	margin-left: 34px;
	margin-bottom: 0;
}

.about__info__normal p {
	width: 649px;
	color: #3c4959;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 155%; /* 27.9px */
	letter-spacing: 0.27px;
	margin-top: 20px;
}

.about__info__normal ol li {
	width: 649px;
	color: #3c4959;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 155%; /* 27.9px */
	letter-spacing: 0.27px;
	margin-top: 20px;
}
