* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Baloo Paaji 2";
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

body::-webkit-scrollbar {
    width: 6px;
    display: block;
    background-color: #b2b2b2;
}

body::-webkit-scrollbar-thumb {
    background-color: #1376f8;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

sup {
    font-size: 18px;
    color: red;
}

/* #chatContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

#receiverInput, #messageInput {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

button {
    padding: 5px;
    width: 100%;
} */

/* #messagesList {
    border: 1px solid #ccc;
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 5px;
} */

:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: rgba(0, 0, 0, 0.3);
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}

/* html {
    box-sizing: border-box;
} */

/* *,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
} */

.msger__container {
    background: rgb(49, 128, 231);
    background: -moz-linear-gradient( 90deg, rgba(49, 128, 231, 1) 0%, rgba(147, 180, 215, 1) 50%, rgba(115, 195, 251, 1) 100% );
    background: -webkit-linear-gradient( 90deg, rgba(49, 128, 231, 1) 0%, rgba(147, 180, 215, 1) 50%, rgba(115, 195, 251, 1) 100% );
    background: linear-gradient( 90deg, rgba(49, 128, 231, 1) 0%, rgba(147, 180, 215, 1) 50%, rgba(115, 195, 251, 1) 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3180e7",endColorstr="#73c3fb",GradientType=1);
    padding: 50px 0;
    margin-bottom: -50px;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 0 auto;
    height: 80vh; /* Adjust height as needed */
    border-radius: 15px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

.msger-header-title {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.msger-header-options .back-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    color: #78e08f;
}

    .msger-header-options .back-btn:hover {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

.msger-chat {
    flex: 1; /* Ensure it takes up available space */
    overflow-y: auto;
    padding: 10px;
    display: block; /* New line */
    flex-direction: column; /* New line */
    background: var(--msger-bg);
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

    .msg:last-of-type {
        margin: 0;
    }

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
    font-size: 1.5rem;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

    .right-msg .msg-bubble {
        background: var(--right-msg-bg);
        color: #fff;
        border-bottom-right-radius: 0;
    }

    .right-msg .msg-img {
        margin: 0 0 0 10px;
    }

.msger-inputarea {
    display: flex;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 15px 15px;
}

    .msger-inputarea * {
        padding: 10px;
        border: none;
        font-size: 1.6rem;
    }

.msger-input {
    flex: 1;
    background: #0000004d;
    padding: 10px 12px;
    border-radius: 15px 0 0 15px;
    color: #fff;
}

    .msger-input::placeholder {
        color: #fff;
    }

    .msger-input:focus-visible {
        outline: none;
    }

.msger-send-btn {
    background: #0000004d;
    color: #78e08f;
    cursor: pointer;
    transition: background 0.23s;
    border-radius: 0 15px 15px 0;
    border-left: 1px solid #d3d3d3;
}

    .msger-send-btn:hover {
        background: #1b1a1a4d;
    }
