.dashboard__info {
	background: #f5f6fa;
	padding: 20px 30px;
	min-height: calc(100vh - 80px);
	border-radius: 0.8rem 0 0 0;
}

.dashboard__info__title {
	color: #202224;
	font-size: 4.4rem;
	font-weight: 700;
	letter-spacing: -0.0114rem;
}

.dashboard__info__cards {
	gap: 30px;
	margin-top: 30px;
}

.dashboard__info__cards .card-item {
	position: relative;
	padding: 16px;
	background: #fff;
	min-width: 368px;
	border-radius: 16px;
}

.dashboard__info__cards .card-item p {
	color: #202224;
	font-size: 1.8rem;
	font-weight: 600;
}

.dashboard__info__cards .card-item .nums {
	font-size: 2.8rem;
	font-weight: 700;
}

.dashboard__info__cards .card-item .trends i,
.dashboard__info__cards .card-item .trends span {
	color: #00b69b;
}

.dashboard__info__cards .card-item img {
	position: absolute;
	top: 16px;
	right: 16px;
}

.dashboard__info__chart {
	margin-top: 50px;
}
