* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Baloo Paaji 2";
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

p {
	margin-bottom: 0;
}

.patients__management .status {
	text-align: center;
	padding: 5px 10px;
	width: 80%;
	border-radius: 15px;
	background: #d3d3d3;
	color: #fff;
	font-weight: bold;
}

	.patients__management .status.complete {
		background: #90ee90;
	}

	.patients__management .status.pending {
		background: #d3d3d3;
	}

	.patients__management .status.approved {
		background: #4880ff;
	}

	.patients__management .status.deny {
		background: #ff474d;
	}

.patients__management i {
	color: #4880ff;
	margin: auto;
}

.patients__management a button i {
	vertical-align: middle;
}

.patients__management a button {
	border: none;
	outline: none;
	background: #4880ff;
	color: white;
	border-radius: 6px;
	padding: 5px 10px;
}

.patients__management a:hover button {
	background: #3b6cd9;
}

table {
	font-family: arial, sans-serif;
	width: 100%;
}

th {
	background-color: #d3d3d3;
}

td, th {
	border-bottom: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}


.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.modal-content-appointment {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	z-index: 1000;
	border-radius: 8px;
	font-size: 1.5rem; /* Larger text inside the modal */
}

	.modal-content-appointment h2 {
		font-size: 2rem; /* Larger heading text */
	}

	.modal-content-appointment .form-label, .modal-content-appointment .form-control {
		font-size: 1.5rem; /* Larger form text */
	}

.btn {
	font-size: 1.5rem; /* Larger button text */
}
