* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Baloo Paaji 2";
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

body::-webkit-scrollbar {
    width: 6px;
    display: block;
    background-color: #b2b2b2;
}

.dentistry__title {
    font-size: 6.2rem;
    margin-top: 80px;
}

.dentistry__subtitle {
    margin-top: 42px;
    color: #011632;
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 125%; /* 5.25rem */
    text-transform: capitalize;
}

.dentistry__desc {
    width: 942px;
    margin: 0 auto;
    margin-top: 27px;
    color: #3c4959;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 155%; /* 2.79rem */
    letter-spacing: 0.027rem;
}

.dentistry__wrapper {
    width: 1280px;
    margin: 0 auto;
    margin-top: 35px;
}

.dentistry__sort {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dentistry__sort span {
    color: #3c4959;
    font-size: 2.4rem;
    font-weight: bold;
}

.dentistry__sort select {
    min-width: 178px;
    padding-left: 10px;
    padding-right: 40px;
    color: #3c4959;
    font-size: 2.4rem;
    border-radius: 8px;
    color: #1376f8;
    font-weight: bold;
    appearance: none;
}

    .dentistry__sort select option {
        border-radius: 1rem;
    }

.dentistry__wrapper .dentistry__dentist {
    color: #011632;
    font-size: 4.2rem;
    font-weight: bold;
    line-height: 125%; /* 5.25rem */
    text-transform: capitalize;
}

.dentistry__info {
    margin-top: 40px;
}

.dentistry__info__card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px solid #d7dbe0;
    background: #fff;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
}

.dentistInfo__personal {
    display: flex;
    gap: 12px;
    padding: 14px;
}

.dentistInfo__image {
    border-radius: 8px;
    background: #eaeaea;
}

    .dentistInfo__image img {
        width: 140px;
        height: 140px;
        border-radius: 8px;
        object-fit: cover;
    }

.dentistInfo__groupInfo .name {
    color: #1376f8;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.dentistInfo__groupInfo p {
    color: #3c4959;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 155%; /* 2.79rem */
    letter-spacing: 0.027rem;
}

.dentistInfo__clinic {
    display: flex;
    align-items: center;
    background-color: #e6f6fe;
    justify-content: space-between;
    padding: 12px 14px;
    border-radius: 0 0 12px 12px;
}

.dentistInfo__clinic__address {
    display: flex;
    align-items: flex-start;
    flex: 0 0 auto;
    gap: 4px;
    font-size: 1.6rem;
    width: 70%;
}

    .dentistInfo__clinic__address .address__img {
        flex-basis: 5%;
    }

    .dentistInfo__clinic__address .address__detail {
        flex-basis: 95%;
    }

    .dentistInfo__clinic__address strong {
        font-size: 1.8rem;
    }

    .dentistInfo__clinic__address svg {
        height: 21px !important;
        width: 21px !important;
    }

    .dentistInfo__clinic__address .address {
        color: #858585;
        word-wrap: break-word !important;
        font-weight: 500;
        margin-bottom: 0;
    }

.dentistInfo__booking button {
    width: 150px !important;
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    height: 36px;
    align-self: stretch;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 30px;
    background: #1376f8;
    background: linear-gradient(83.63deg, #0078f1 33.34%, #0099ff 113.91%);
    border: 1px solid transparent;
    color: #fff;
}

    .dentistInfo__booking button:hover {
        box-shadow: 0 4px 30px 0 rgba(116, 157, 206, 0.2);
        background: #1376f8;
        background: linear-gradient(83.63deg, #0064c7 33.34%, #017aca 113.91%);
    }

.emptyDentistList {
    display: none;
    text-align: center;
    text-transform: uppercase;
    color: #1376f8;
    margin-top: 60px;
    font-size: 4.8rem;
    font-weight: bold;
}

.location__filter__style {
    position: relative;
}

    .location__filter__style select {
        cursor: pointer;
    }

    .location__filter__style select:focus-visible {
        outline: none;
    }

    .location__filter__style i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #1376f8;
        font-size: 2rem;
        font-weight: bold;
    }

/* ===== ANIMATION ====== */
/* dentistry.css */
@keyframes fadeIn {
    from {
    opacity: 0;
    transform: translateY(20px);
}

to {
    opacity: 1;
    transform: translateY(0);
}
}

.dentistItem, .emptyDentistList {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

    .dentistItem.fade-in, .emptyDentistList.fade-in {
        animation-name: fadeIn;
    }