/* ================ footer ================ */
.footer {
	margin-top: 50px;
	background: #e6f6fe;
}

.footer__container {
	width: 1280px;
	margin: 0 auto;
	padding: 18px 0;
}

/* 1. NAVIGATION */
.footer__navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__navigation__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

	.footer__navigation__list a {
		display: inline-flex;
		align-items: center;
		position: relative;
		color: #3c4959;
		font-size: 1.6rem;
		font-weight: bold;
		line-height: 155%; /* 24.8px */
		letter-spacing: 0.24px;
		padding: 0 20px;
	}

		.footer__navigation__list a::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -10px;
			background: #1376f8;
			height: 3px;
			width: 0%;
			transition: 0.3s;
		}

		.footer__navigation__list a:hover::after {
			width: 100%;
		}

/* 2. SEPARATE */
.footer__separate {
	width: 100%;
	height: 2px;
	background: #011632;
	margin: 20px 0 20px;
}

/* 3. TERMS */
.footer__terms {
	font-size: 1.8rem;
	margin-bottom: 20px;
	color: #003553;
	font-weight: 400;
}

.footer__terms__title {
	font-size: 2rem;
	font-weight: bold;
}

.footer__terms__links {
	line-height: 148.51%;
	color: #003553;
}

	.footer__terms__links:hover {
		color: #1376f8;
	}

.footer__terms__list span {
	font-weight: bold;
}

.footer__terms__address__contact .address {
	width: 80%;
}

/* 4. SOCIAL MEDIA */
.footer__condition__social {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__condition__social--copyright {
	color: #1376f8;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 155%; /* 21.7px */
	letter-spacing: 0.28px;
}

.footer__condition__social--media {
	display: flex;
	align-items: center;
	gap: 20px;
}
