* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Baloo Paaji 2", sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Baloo Paaji 2", sans-serif;
    margin-bottom: 0;
}

body::-webkit-scrollbar {
    width: 6px;
    display: block;
    background-color: #b2b2b2;
}

body::-webkit-scrollbar-thumb {
    background-color: #1376f8;
    border-radius: 10px;
}

/* ========= KEYFRAMES ========= */
@keyframes nextPage {
    0% {
        opacity: 0;
        transform: translate(10em, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes prevPage {
    0% {
        opacity: 0;
        transform: translate(-10em, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* ========= PAGINATION ========= */
.newsPost__container .pagination {
    margin-top: 20px;
    justify-content: center;
}

.newsPost__container .page-link {
    display: inline-flex;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 1.4rem;
    border: none;
    outline: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}

.newsPost__container .page-item:first-child .page-link,
.newsPost__container .page-item:last-child .page-link {
    border-radius: 50%;
}

.newsPost__container .page-item:not(:first-child) {
    margin-left: 8px;
}

/* ========= NEWS LAYOUT ========= */
.news__layout {
    padding: 50px 0;
}

.news__title {
    font-size: 6.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.news__desc {
    font-size: 2.4rem;
    color: #292929;
    margin-bottom: 80px;
}

.newsPost__container {
    width: 1040px;
    margin: 0 auto;
}

.newsItem__wrapper {
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    padding: 24px;
}

    .newsItem__wrapper:not(:first-child) {
        margin-top: 16px;
    }

.newsItem__content {
    display: flex;
    align-items: center;
}

.newsItem__info {
    flex: 1 1;
    padding-right: 32px;
    font-size: 1.6rem;
}

.newsItem__title {
    color: #292929;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
}

    .newsItem__title::first-letter {
        text-transform: uppercase;
    }

    .newsItem__title:hover {
        color: #1376f8;
    }

.newsItem__desc {
    color: #505050;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

    .newsItem__desc::first-letter {
        text-transform: uppercase;
    }

.newsItem__datetime__style {
    display: inline-block;
    gap: 10px;
    border: 1px solid #1376f8;
    margin-top: 10px;
    border-radius: 15px;
    font-weight: bold;
    padding: 5px 20px;
}

    .newsItem__datetime__style i {
        padding-right: 10px;
    }

    .newsItem__datetime__style .text {
        color: #1376f8;
    }

.newsItem__thumb img {
    background: #ebebeb;
    border-radius: 15px;
    color: #757575;
    display: block;
    font-size: 1.4rem;
    line-height: 1.8;
    max-height: 120px;
    object-fit: cover;
    overflow: hidden;
    text-align: center;
    width: 200px;
}

/* =============== NEWS DETAIL ================ */
.newsDetail__container {
    width: 900px;
    margin: 0 auto;
    padding: 0 12px;
}

.newsDetail__datetime i {
    margin-right: 10px;
}

.newsDetail__container h1 {
    margin-bottom: 0;
    color: #003553;
    font-size: 4.2rem;
    font-weight: 600;
}

.newsDetail__container h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 2.4rem;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
}

.newsDetail__container h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
}

.newsDetail__container p {
    font-size: 1.8rem;
    text-align: justify;
    margin-bottom: 16px;
}

.newsDetail__container blockquote {
    font-size: 1.8rem;
    text-align: justify;
    border-left: 3px solid #1376f8;
    color: #757575;
    padding: 0 0 2px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

    .newsDetail__container blockquote p {
        margin: 0;
    }

.newsDetail__container figure {
    margin-bottom: 16px;
}

    .newsDetail__container figure img {
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

.newsDetail__container ul {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.newsDetail__container ol {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.newsDetail__container h1 + div {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 400;
    color: #858585;
}

.newsDetail__container figure + p {
    text-align: center;
    font-style: italic;
}
