* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Baloo Paaji 2", sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

body::-webkit-scrollbar {
    width: 6px;
    display: block;
    background-color: #b2b2b2;
}

body::-webkit-scrollbar-thumb {
    background-color: #1376f8;
    border-radius: 10px;
}
