* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

.dashboard__logo {
	padding-top: 20px;
	text-align: center;
	color: #202224;
	font-size: 2.6rem;
	font-weight: 800;
}

.dashboard__logo span {
	color: #4880ff;
}

.sidebar {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 2px);
}

.sidebar .nav {
	flex-direction: column;
	flex-wrap: nowrap;
}

.sidebar .nav-item a {
	text-decoration:none;
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 16px 13px;
	min-width: 210px;
	color: #202224;
	font-size: 1.6rem;
	font-weight: 600;
	letter-spacing: 0.03rem;
	border-radius: 0 6px 6px 0;
}

.sidebar .nav-item a.active {
	color: #fff;
	background: #4880ff;
}

.sidebar .nav-item a:hover {
	color: #fff;
	background: #4880ff;
}

.sidebar .copyright {
	color: #4880ff;
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
	margin-top: auto;
}
