.sidebar .nav-item a.Quan_ly_chuyen_khoa {
    color: #fff;
    background: #4880ff;
}

.btn {
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1.5rem;
}

.btn-icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
 }

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #b21f2d;
}

.btn-view {
    background-color: #17a2b8;
    border: none;
}

.btn-view:hover {
    background-color: #138496;
}

.btn i {
    font-size: 1.5rem;
    color: white;
}

.modal-sm {
    max-width: 500px;
}

.modal-body img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    border-radius: 10px;
}

.modal-content {
    font-size: 1.2rem; 
}

.modal-title {
    font-size: 2.3rem; 
}

.form-label {
    font-size: 1.7rem; 
}

.form-control {
    font-size: 1.5rem; 
}

.modal-footer .btn {
    font-size: 1.2rem; 
}