@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap");

/* ============= Login ============= */
.content {
	position: relative;
	width: 1280px;
	margin: 0 auto;
	display: flex;
}

.content__img {
	width: 45%;
}
.content__form {
	width: 55%;
}

.content__img img {
	position: absolute;
	bottom: 0;
	left: 0;
}

.content__img__quote {
	position: absolute;
	bottom: 30px;
	left: 50px;
	z-index: 2;
}

.content__img__quote .quote {
	color: #fff;
	font-size: 2.4rem;
	width: 500px;
	font-weight: bold;
	line-height: 120%; /* 28.8px */
	text-transform: capitalize;
}

.content__img__quote .summary {
	margin-top: 15px;
	color: #fff;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 155%; /* 27.9px */
	letter-spacing: 0.27px;
}

.content__form {
	padding-top: 162px;
}

.content__form.register {
	padding-top: 100px;
}

.content__form__title {
	color: #011632;
	font-size: 4.2rem;
	font-family: "Baloo Paaji 2";
	text-align: center;
	font-weight: bold;
	line-height: 125%; /* 52.5px */
	text-transform: capitalize;
}

.content__form__login__google {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	border-radius: 10px;
	padding: 16px 106px;
	margin: 0 auto;
	margin-top: 63px;
	border: 1px solid #011632;
	background: #fff;
	color: #011632;
	font-family: "Baloo Paaji 2";
	text-align: center;
	font-size: 1.4rem;
	font-weight: 800;
	line-height: 155%; /* 21.7px */
	letter-spacing: 0.28px;
	cursor: pointer;
	transition: background 0.25s;
}

.content__form__login__google:hover {
	background: #c3c3c380;
}

.content__form__separate {
	margin: 24px 0 25px;
	color: #011632;
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 155%; /* 27.9px */
	letter-spacing: 0.27px;
}

.content__form__separate::before,
.content__form__separate::after {
	display: inline-block;
	content: "";
	vertical-align: middle;
	width: 188.271px;
	height: 0.5px;
	background: #01163280;
}

.content__form__system .remember__forgot {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 159px;
	margin: 21px 0 20px;
	color: #011632;
	font-family: "Baloo Paaji 2";
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 155%; /* 21.7px */
	letter-spacing: 0.28px;
}

.content__form__system .remember__forgot .remember {
	display: flex;
	gap: 5px;
}

.content__form__system .remember__forgot .remember input[type="checkbox"] {
	vertical-align: middle;
	position: relative;
	bottom: 1px;
}

.content__form__system .remember__forgot .forgot {
	color: #011632;
	font-family: "Baloo Paaji 2";
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 155%; /* 21.7px */
	letter-spacing: 0.28px;
}

.content__form__system .remember__forgot .forgot:hover {
	text-decoration: underline;
}

.content__form__system .cta-btn {
	text-align: center;
}

.content__form__system__submit {
	width: 414px;
	height: 60px;
	flex-shrink: 0;
	margin: 0 auto;
	border-radius: 10px;
	background: #1376f8;
	color: #fff;
	border: none;
	text-align: center;
	font-family: "Baloo Paaji 2";
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 155%; /* 27.9px */
	letter-spacing: 0.27px;
	cursor: pointer;
	transition: background 0.25s;
}

.content__form__system__submit:hover {
	background: #2d9cfd;
}

.content__form__system__register__navigation {
	display: inline-block;
	margin-top: 21px;
	color: #000;
	text-align: center;
	font-family: "Baloo Paaji 2";
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 95%; /* 13.3px */
}

.content__form__system__register__navigation:hover {
	text-decoration: underline;
}

/* =============== register ============== */
.content__form__system i {
	height: 20px;
	width: 20px;
	font-size: 1.6rem;
	vertical-align: middle;
}

.content__form__system .username,
.content__form__system .phone,
.content__form__system .email,
.content__form__system .password {
	display: flex;
	align-items: center;
	padding: 0 20px;
	gap: 16px;
	width: 414px;
	height: 60px;
	margin: 0 auto;
	border-radius: 10px;
	border: 1px solid #afafaf;
	background: #fff;
}

.content__form__system .phone,
.content__form__system .email,
.content__form__system .password {
	margin-top: 25px;
}

.content__form__system .username input,
.content__form__system .phone input,
.content__form__system .email input,
.content__form__system .password input {
	background: transparent;
	width: 100%;
	padding: 10px 10px;
	border: none;
	outline: none;
	color: #011632;
	font-size: 1.6rem;
	font-family: "Baloo Paaji 2";
	font-weight: 600;
	line-height: 155%; /* 21.7px */
	letter-spacing: 0.28px;
}

.content__form__system .policies_check {
	display: block;
	margin: 21px 0 20px;
	margin-left: 154px;
	color: #011632;
	font-family: "Baloo Paaji 2";
	font-size: 1.4rem;
	font-weight: bold;
	letter-spacing: 0.28px;
}

.content__form__system .policies_check input[type="checkbox"] {
	vertical-align: middle;
	position: relative;
	bottom: 1px;
	margin-right: 15px;
}

.content__form__system .cta_btn {
	text-align: center;
}

.content__form__system__submit {
	width: 414px;
	height: 60px;
	flex-shrink: 0;
	margin: 0 auto;
	border-radius: 10px;
	background: #1376f8;
	color: #fff;
	border: none;
	text-align: center;
	font-family: "Baloo Paaji 2";
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 155%; /* 27.9px */
	letter-spacing: 0.27px;
	cursor: pointer;
	transition: background 0.25s;
}

.content__form__system__submit:hover {
	background: #2d9cfd;
}

.content__form__system__login__navigation {
	display: inline-block;
	margin-top: 21px;
	color: #000;
	text-align: center;
	font-family: "Baloo Paaji 2";
	font-size: 1.4rem;
	line-height: 95%; /* 13.3px */
}

.content__form__system__login__navigation strong {
	font-weight: bold;
}

.content__form__system__login__navigation:hover {
	text-decoration: underline;
}

/* =============== FORGOT ================ */
.forgot__style {
	background: #f5f8fc;
	padding-top: 50px;
	padding-bottom: 50px;
}

.forgot__pass {
	width: 1440px;
	height: 700px;
	margin: 0 auto;
}

.forgot__container {
	height: 100%;
	border-radius: 20px;
	background: #fffd;
}

.forgot__container__form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.forgot__form {
	width: 450px;
}

.forgot__form__title {
	font-size: 4rem;
	font-weight: bold;
}

.forgot__form__input .email {
	font-weight: 600;
	font-size: 2rem;
}

.forgot__form__input input {
	width: 100%;
	border: 1px solid #afafaf;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 2rem;
	color: #011632;
	font-weight: 600;
}

.forgot__form__submit {
	margin-top: 20px;
}

.forgot__form__submit input {
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 2rem;
	width: 100%;
	padding: 10px 20px;
	background: #1376f8;
	border: none;
	outline: none;
	border-radius: 10px;
	transition: all 0.25s ease;
}

.forgot__form__submit input:hover {
	background: #2d9cfd;
}

.forgot__form__cta-btn {
	margin-top: 20px;
	text-align: center;
}

.forgot__form__cta-btn a {
	color: #1376f8;
	font-size: 1.6rem;
	font-weight: bold;
}

.forgot__form__cta-btn a:hover {
	text-decoration: underline;
}

.forgot__container__image {
	background: #3f90fa;
	border-radius: 0 20px 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.forgot__image__quote {
	color: #fff;
	font-weight: 600;
	font-size: 3rem;
	text-align: center;
}

.forgot__image__img {
	text-align: center;
}
