@{
    ViewData["Title"] = "Đăng Nhập";
    Layout = null;
}
<head>
<link rel="stylesheet" href="~/assets/css/login_dentist.css">
</head>

<div class="form">
    <div class="leftside">
        <img src="/assets/images/login-dentist-illus.png" style="position:relative;right: 93%;">
        <h1>CHÀO MỪNG NHA SĨ!</h1>
        <img src="/assets/images/dentist-login-illus.png" style="position:relative;left: 65%;">
    </div>
    <div class="rightside">
        <form asp-controller="dentistaccount" asp-action="login" method="post">
        <div class="input-container">
                <img src="~/assets/images/DentalCare.png" style="position:relative;left: 33px;"><br />
            <div class="input">
                <i class="fa fa-user"></i>
                <input type="text" placeholder="Tên Đăng Nhập">
            </div>
            <div class="input">
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="Mật Khẩu">
            </div>
            <input type="submit" class="login" value="Đăng Nhập">
            <p style="font-size: 15px;"><sup>**Quên Mật Khẩu Vui Lòng Liên Hệ Quản Lý Phòng Khám. Xin Cảm Ơn!</sup></p>
        </div>
        </form>
    </div>
</div>
