<nav class="nav__header d-flex flex-row justify-content-end">
	<a href="#!">
		<div class="d-flex align-items-center nav__header__profile">
			<img src="@ViewBag.DentistAvatar" alt="" />
			<p>
				<span>@ViewBag.dentistName</span> <br />
				Nha sĩ
			</p>
			@*<i class="bx bx-chevron-down-circle"></i>*@
		</div>
	</a>
</nav>
