@model Dental_Clinic_System.Models.Data.Clinic

@{
    ViewData["Title"] = "Edit"; 
    Layout = "_LayoutManager";
}
@section Styles {
    <style>
        .sidebar .nav-item a.Quan_ly_phong_kham {
            color: #fff;
            background: #4880ff;
        }

        .manager__management__header {
            justify-content: space-around;
        }
    </style>
}
<div class="manager__management">
    <div class="manager__management__header">
        <div class="title">Quản lý phòng khám</div>
    </div>
    <form asp-action="Edit" class="manager__management__clinic row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        
        <div class="col-md-6">
            <label>Tên phòng khám</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label>Cơ sở</label>
            <input asp-for="Basis" class="form-control" />
            <span asp-validation-for="Basis" class="text-danger"></span>
        </div>
        <div class="col-md-12 image-file">
            <label>Hình ảnh</label>
            <input asp-for="Image" class="form-control"/>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label>Tỉnh/Thành phố</label>
            <input asp-for="Province" class="form-control" />
            <span asp-validation-for="Province" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label>Quận/Huyện</label>
            <input asp-for="District" class="form-control" />
            <span asp-validation-for="District" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label>Phường/Xã</label>
            <input asp-for="Ward" class="form-control" />
            <span asp-validation-for="Ward" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label>Địa chỉ</label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label>Số điện thoại liên hệ</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label>Mô tả phòng khám</label>
            
            <div id="container">
                <div id="editor" >
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-6">
             <input asp-for="ClinicStatus" class="form-control" type="hidden"/>
        </div>
        <div class="col-md-6">
            <input asp-for="ManagerID" class="form-control" type="hidden" />
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn">Lưu</button>
            <button type="reset" class="btn">Đặt lại</button>
        </div>
    </form>
</div>

@section Scripts {
<script src="~/assets/js/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/super-build/ckeditor.js"></script>
<script src="~/assets/js/richtexteditor2.js"></script>
}

<div style="height: 20px;"></div>

