@{
	Layout = null;
}
<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap"
		  rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
		  crossorigin="anonymous" />
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

	<link rel="stylesheet"
		  href="https://kit.fontawesome.com/53f42380b0.css"
		  crossorigin="anonymous">
	<!-- MDB -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.1/mdb.min.css"
		  rel="stylesheet" />

	<link rel="shortcut icon" type="image/x-icon" href="~/assets/images/dentalClinicLogoOfficial.png" />
	<link rel="stylesheet" href="~/assets/fonts/stylesheet.css" />
	<link rel="stylesheet" href="~/assets/css/mobiscroll.javascript.min.css" />
	<link rel="stylesheet" href="~/assets/css/sidebar.css" />
	<link rel="stylesheet" href="~/assets/css/headerAd.css" />
	<link rel="stylesheet" href="~/assets/css/manager.css" />

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	@RenderSection("Styles", required: false)
</head>

<body>
	<div class="dashboard__container d-flex">
		<nav class="sidebar" style="width: 15%; position: fixed; top: 0; height: 100vh; overflow-y: auto;background: aliceblue;">
			<p class="dashboard__logo"><span>Dental</span>Care</p>
			<!-- ===========  MENU =========== -->
			<ul class="nav">
				<li class="nav-item">
					<a asp-controller="Dentists" asp-action="Index" class="Quan_ly_nha_si">
						<span class="menu-icon"><i class="bx bxs-user"></i></span>Nha sĩ
					</a>
				</li>
				<!-- ====================== -->
				<li class="nav-item menu-items">
					<a class="nav-link collapsed"
					   data-bs-toggle="collapse"
					   href="#manage-account"
					   aria-expanded="false"
					   aria-controls="manage-account">
						<span class="menu-icon"><i class="fa-solid fa-calendar-days"></i></span>
						<span class="menu-title Quan_ly_tai_khoan">Lịch trình</span>
						<span class="menu-down" style="margin-left: auto">
							<i aria-hidden="true"></i>
						</span>
					</a>
					<div class="collapse" id="manage-account">
						<ul class="nav flex-column sub-menu">
							<li class="nav-item">
								<a style="padding-left: 40px; font-size: 1.4rem" class="nav-link Lich_lam_viec1" asp-controller="Schedules" asp-action="LichLamViec">
									<i class="fa-solid fa-stethoscope"></i> Lịch làm việc -> Tạo
								</a>
							</li>

							<li class="nav-item">
								<a style="padding-left: 40px; font-size: 1.4rem" class="nav-link Lich_lam_viec2" asp-controller="Schedules" asp-action="Index">
									<i class="fa-solid fa-stethoscope"></i> Khung giờ làm việc
								</a>
							</li>

							<li class="nav-item">
								<a style="padding-left: 40px; font-size: 1.4rem" class="nav-link Lich_lam_viec3" asp-controller="Schedules" asp-action="ViewHistory">
									<i class="fa-solid fa-stethoscope"></i> Xem lịch sử
								</a>
							</li>

						</ul>
					</div>
				</li>
				<!-- ====================== -->
				<li class="nav-item">
					<a asp-controller="Service" asp-action="Index" class="Dich_vu_kham">
						<span class="menu-icon"><i class="fa-solid fa-notes-medical"></i></span>Dịch vụ làm răng
					</a>
				</li>
				<li class="nav-item">
					<a asp-controller="Clinics" asp-action="Edit" asp-route-id="1" class="Quan_ly_phong_kham">
						<span class="menu-icon"><i class="fa-solid fa-house-chimney-medical"></i></span>Phòng khám
					</a>
				</li>
			</ul>

		</nav>

		<div class="container-fluid" style="width: 85%; padding: 0; margin-left: 15%">

			@* Icon account + Dropdown here *@
			<nav class="nav__header d-flex flex-row justify-content-end">
				<div>
					<div class="d-flex align-items-center nav__header__profile">
						<img src="~/assets/images/avatar.jpg" alt="" />
						<p>
							<span>Hoapooh</span> <br />
							Quản lý phòng khám
						</p>
						<a asp-area="Manager" asp-controller="ManagerAccount" asp-action="Logout" title="Logout">
							<i class="bx bx-log-out" style="color: red; transform: rotate(180deg)"></i>
						</a>
					</div>
				</div>
			</nav>
			<div class="manager__management">
				@RenderBody()
			</div>
		</div>
	</div>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/53f42380b0.js"
			crossorigin="anonymous"></script>
	<script src="~/assets/js/pagination.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			// Define the paths that should trigger the submenu to open
			//var activePaths = ['/Schedules/LichLamViec', '/Schedules/Index', '/Schedules/Index'];
			var activePath = '/Schedules';
			// Get the current path
			var currentPath = window.location.pathname;

			// Check if the current path is one of the defined paths
			if (currentPath.includes(activePath)) {
				var manageAccountMenu = document.getElementById('manage-account');
				var collapseElement = new bootstrap.Collapse(manageAccountMenu, {
					toggle: false
				});
				collapseElement.show();
			}
		});
	</script>

	<!-- MDB -->
	<script type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.1/mdb.umd.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
