@{
    ViewData["Title"] = "Thêm mới Bài Viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/assets/fonts/stylesheet.css" />
    <link rel="stylesheet" href="~/assets/css/newspost.css" />
</head>

<div style="padding: 40px;">
    <div class="post__management__header">
        <h1 class="title">@ViewData["Title"]</h1>
    </div>

    <form id="uploadForm" asp-area="admin" asp-controller="news" asp-action="CreateNewsPost" method="post" class="row">
        <div class="col-md-6">
            <label for="newsTitle">Title</label>
            <input class="form-control" type="text" name="newsTitle" id="newsTitle" />
            <input type="hidden" value="@ViewBag.AdminID" name="adminID" />
        </div>
        
        <!-- UPLOAD -->
        <div class="image-file col-md-6">
            <label for="imageInput">Hình ảnh</label>
            <div class="preview-image col-md-12">
                <input class="form-control"
                       type="file"
                       name="imageInput"
                       id="imageInput" />
            </div>
        </div>
        <div class=" col-md-12">
            <div class="container__image__preview">
                <div class="style__image__preview">
                    <div class="preview-image">
                        <h3 class="title">Hình ảnh được chọn</h3>
                        <div class="image-box-style">
                            <img src=""
                                 alt=""
                                 id="imagePreview"
                                 style="
								display: block;
								max-width: 100%;
								text-align: center;
								border-radius: 5px;
                            " />
                        </div>
                        <input name="thumbnail" id="imageUrl" class="form-control" type="hidden" />
                    </div>
                </div>
            </div>
        </div>
        
        <label for="imageInput">Mô tả bài viết</label>
        <div id="container">
            <textarea id="editor" name="content"></textarea>
        </div>
        <div style="margin-top: 1%;">
            <button type="submit" class="btn btn-primary" style="font-size: 15px;">Xác Nhận</button>
            <a href="~/Admin/News/NewsPost">
                <button type="button" class="btn btn-warning" style="font-size: 15px;">Quay lại</button>
            </a>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<script src="https://kit.fontawesome.com/53f42380b0.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/super-build/ckeditor.js"></script>
@* Dùng để đưa ảnh lên firebase *@
<script src="~/assets/js/upload-image-firebase-news.js" type="module"></script>
<script src="~/assets/js/richtexteditor.js"></script>